{% extends 'base.html' %}
{% load static %}


{% block header_assets %}
    <link href="{% static "css/index.css" %}" rel="stylesheet" />
{% endblock header_assets %}


{% block content %}
    <canvas id="fluid-simulation-background"></canvas>

    <!-- ======= Header ======= -->
      {% include 'includes/portfolio/header.html' %}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
      {% include 'includes/portfolio/hero.html' %}
    <!-- End Hero -->

    <main id="main">
      <div id="overview">
        <!-- ======= About Section ======= -->
         {% include 'includes/portfolio/about.html' %}
        <!-- End About Section -->

        <!-- ======= Facts Section ======= -->
         {% include 'includes/portfolio/facts.html' %}
       
        <!-- End Facts Section -->
      </div>

      <!-- ======= Skills Section ======= -->
         {% include 'includes/portfolio/skills.html' %}
      
      <!-- End Skills Section -->


      <!-- ======= Services Section ======= -->
         {% include 'includes/portfolio/services.html' %}
      
      <!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->

      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
         {% include 'includes/portfolio/contact-us.html' %}
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->


    {% include 'includes/footer.html'%}

  {% endblock content %}

    
{% block lazy_assets %}
  <script src="{% static "vendor/purecounter/purecounter.js" %}"></script>
  <script src="{% static "vendor/waypoints/noframework.waypoints.js" %}"></script> 
  <script src="{% static "vendor/typed.js/typed.min.js" %}"></script>
  <script src="{% static "vendor/fluid-simulation/webgl_fluid_simulation.js" %}"></script>
  <script src="{% static "js/index.js" %}"></script>
{% endblock lazy_assets %}