.php-email-form {
  width: 100%;
}

.php-email-form .form-control {
  background: var(--bg-dark-800);
  color: var(--color-text);
  border: none;
}

.php-email-form .form-control::placeholder {
  color: var(--color-text-800);
}

.php-email-form .form-group {
  padding-bottom: 8px;
}

.php-email-form .error-message {
  color: var(--color-white);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br + br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: var(--color-white);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input {
  height: 44px;
}

.php-email-form textarea {
  padding: 10px 12px;
}

.php-email-form button[type="submit"] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: var(--color-white);
  transition: 0.4s;
  border-radius: 50px;
}

.php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
